BLOCKFROST_API_KEY=<Your-API-Key>
WALLET_MNEMONIC=solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution solution